* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.ubuntu-regular {
    font-family: "Ubuntu", Arial;
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 50px;
}

header{
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}
header div{
    position: relative;
}

header div h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 70px;
}

header div img{
    height: 82.5px;
    position: absolute;
    left: 30px;
    top: 0px;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
}
  
section {
    margin-bottom: 20px;
}
  
section h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
  
#home {
    text-align: center;
}
  
#home p {
    margin-bottom: 20px;
}

span{
    font-weight: bold;
    color: #EF7F00;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #EF7F00;
    padding: 0 3px;
}

a:hover{
    background-color: #EF7F00;
    color: #fff;
    border-radius: 10px;
}

.container{
    padding: 10px;
}

.container::after{
    clear: both;
    content: '';
    display: block;
}

.one{
    float: left;
}

.two{
    float: right;
}

.flip-container, .education, .sport, .fronte, .retro{
    width: 461px;
    height: 640px;
}

.education, .sport{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-container:hover .education, .flip-container:hover .sport{
    transform: rotateY(180deg);
}

.fronte, .retro{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.fronte{
    border: 1px solid #aaa;
    background-size: 100% 100%;
    background-position: center;
}

.education .fronte{
    background-image: url(laurea.jpg);
}

.sport .fronte{
    background-image: url(virtus.jpg);
}

.retro{
    padding: 10px;
    background-color: #081A3C;
    color: white;
    text-align: justify;
    transform: rotateY(180deg);
}
  
#portfolio ul {
    margin-left: 15px;
}
  
#contact {
    /* Aggiungi i tuoi stili per la sezione contact */
}

footer{
    background-color: #EF7F00;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

footer > div{
    font-size: 12px;
}
