#foto_cv {
    display: block;
    margin: 0px auto;
    width: 25%;
  }
  
#nome{
    text-align: center;
    color: #FBF6F1;
}

header{
    width: 80%;
    margin: 10px auto;
    background-color: #074173;
}

main{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #FBF6F1;
}

footer{
    background-color: #FBF6F1;
}

.orizzontale{
    border: 1px solid coral;
}

.titoli{
    color: #074173;
}
