#foto_cv {
    width: 25%;
  }
  
#nome{
    color: #FBF6F1;
}

header{
    width: 80%;
    margin: 10px auto;
    background-color: #074173;
    text-align: center;
}

hr{
    margin: 1px;
    border: 1px solid coral;
}

main{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #FBF6F1;
}

footer{
    background-color: #FBF6F1;
}

.titoli{
    color: #074173;
}
