* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 0px auto;
}

#foto_cv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21%;
  }
  
#nome{
    text-align: center;
    color: #FBF6F1;
}

header{
    background-color: #074173;
}

main{
    padding: 8px;
    background-color: #FBF6F1;
    clear: both;
    contain: '';
    display: table;
}

main > section{
    width: 45%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.left{
    float: left;
    background-color: rgba(200, 200, 200, 1);
}

.right{
    float: right;
    background-color: rgba(200, 250, 100, 1);
}

footer{
    background-color: #FBF6F1;
}

.orizzontale{
    border: 1px solid coral;
}

.titoli{
    color: #074173;
}
